@import '../styles/_config.scss';

main {
  padding: 74px 16px 42px 16px;
}
mat-drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 0;

  mat-list-item {
    width: 100%;
    padding: 0;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      text-decoration: none;
      padding: 16px;
      font-size: 16px;
      color: $color-pokedex-red;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      mat-icon {
        margin-right: 16px;
        cursor: pointer;
        font-size: 24px;
        display: inline-block;
      }
      span {
        line-height: 24px; /* Căn chỉnh text theo chiều cao icon */
      }
    }
  }
}

mat-toolbar {
  background-color: $color-pokedex-red;
  color: white;
}

mat-drawer-container {
  transition: opacity 0.3s ease;
}
.contents a {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: $color-pokedex-red; /* Giữ màu sắc kế thừa từ bố cục (ví dụ, từ toolbar hoặc theme) */
  display: flex;
  align-items: center;
}
