<mat-drawer-container>
  <mat-drawer
    class="drawer"
    mode="over"
    [opened]="navOpen"
    [ngClass]="{ opened: navOpen, closed: !navOpen }">
    <mat-toolbar>
      <mat-icon (click)="navOpen = false">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
      <mat-list-item>
        <a mat-list-item routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/about">
          <mat-icon>info</mat-icon> About</a
        >
      </mat-list-item>
    </div>
  </mat-drawer>
  <app-header (toggleSidebar)="navOpen = !navOpen" />
  <main>
    <router-outlet />
  </main>
  <app-footer />
</mat-drawer-container>
